[submodule "lib/ocgcore"]
	path = lib/ocgcore
	url = https://github.com/Fluorohydride/ygopro-core
[submodule "lib/SevenZip"]
	path = lib/SevenZip
	url = https://github.com/247321453/SevenZip.git
[submodule "lib/AsyncServer"]
	path = lib/AsyncServer
	url = https://github.com/247321453/AsyncServer.git
